@mixin main-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team {
    &-section {
        background-color: var(--secondary-background-color);
    }

    &-caption {
        @include main-title;
    }

    &__thumb {
        padding: 30px 0;
    }

    &-list {
        margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        background: #fff;
        flex-basis: calc(100% / 4 - 30px);
        margin-left: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    &__person {
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }

    &__unit {
        margin-bottom: 16px;
        text-align: center;
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
}